*{
    font-family: 'Quicksand', sans-serif;
    font-size: 16px;
}
#free{
    width: 100%;
    height: 30px;
    background-color: black;
    color: white;
    text-align: center;
    margin-top: -15px;
}
#free p{
    padding: 5px 0px 5px 0px;
}
#nav{
    width: 100%;
    height: 75px;
    /* border: 1px solid red; */
    background-color:rgb(243, 243, 243);
    display: flex;
}
#homeButton{
    width: 250px;
    height: 100%;
    /* border: 1px solid blue; */
}
#homeButton>img{
    padding: 15px 0px 0px 50px ;
    cursor: pointer;
}
#searchbar{
    width: 750px;
    height: 100%;
    /* border: 1px solid blue; */
    
}
#login{
    width: 400px;
    height: 100%;
    /* border: 1px solid blue; */
    display: flex;
    justify-content: center;
    
}
#inputBox{
    margin: 20px 0px 0px 15px;
    border: none;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    height: 30px;
    width: 70%;
    font-size: 15px;
}
#searchBtn{
    margin: 20px 0px 0px 0px;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    color: white;
    background-color: black;
    cursor: pointer;
    width: 20%;
    height: 30px;
}
#innerbox{
    width: 135px;
    height: 50px;
    /* border: 1px solid red; */
    display: flex;
}
#innerbox img{
    margin: 20px 0px 0px 0px;
    width: 30px;
    height: 30px;
}
#innerbox div{
    margin: 25px 0px 0px 0px;
    padding: 1px;
    cursor: pointer;
    text-decoration: underline;
}
#cart{
    display: flex;
    justify-content: center;
    /* border: 1px solid blue; */
    width:250px;
    justify-content: center;
}
#cart div{
    margin: 20px 0px 0px 0px;
    margin-left: 15px;
}
svg{
    width: 25px;
    height: 25px;
    cursor: pointer;
}
#cart img{
    width: 30px;
    height: 30px;   
}
#cate{
    width: 800px;
    height: 75px;
    display: flex;
    border: 1px solid red;
    justify-content: space-between;
}
#cate select{
    border: none;
}
#footer{
    width: 100%;
    height: 700px;
    background-color: black;
    font-family: Poppins,sans-serif;
}
#footerImage{
    display: flex;
}
#footerImage img{
    width: 120px;
    height: 120px;
    margin: auto;
}
#social_icon{
    width: 280px;
    height: 30px;
    border: 1px solid red;
    margin: auto;
    
}
a img{
    width: 25px;
    height: 25px;
    margin: 0px 5px 0px 10px;
}
