*{
    font-family: 'Quicksand', sans-serif;
    font-size: 16px;
    /* background-color:  #f5f5f5; */
}
#free{
    width: 100%;
    height: 30px;
    background-color: black;
    color: white;
    text-align: center;
    margin-top: -15px;
}
#free p{
    padding: 5px 0px 5px 0px;
}
#nav{
    width: 100%;
    height: 75px;
    /* border: 1px solid red; */
    background-color:rgb(243, 243, 243);
    display: flex;
}
#homeButton{
    width: 250px;
    height: 100%;
    /* border: 1px solid blue; */
}
#homeButton>a>img{
    padding: 15px 0px 0px 50px ;
    cursor: pointer;
    width: 125px;
    height: 40px;   
}
#searchbar{
    width: 750px;
    height: 100%;
    /* border: 1px solid blue; */
    
}
#login{
    width: 400px;
    height: 100%;
    /* border: 1px solid blue; */
    display: flex;
    justify-content: center;
    
}
#inputBox{
    margin: 20px 0px 0px 15px;
    border: none;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    height: 30px;
    width: 70%;
    font-size: 15px;
}
#searchBtn{
    margin: 20px 0px 0px 0px;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    color: white;
    background-color: black;
    cursor: pointer;
    width: 20%;
    height: 30px;
}
#innerbox{
    width: 135px;
    height: 50px;
    /* border: 1px solid red; */
    display: flex;
}
#innerbox img{
    margin: 20px 0px 0px 0px;
    width: 30px;
    height: 30px;
}
#innerbox div{
    margin: 25px 0px 0px 0px;
    padding: 1px;
    cursor: pointer;
    text-decoration: underline;
}
#cart{
    display: flex;
    justify-content: center;
    /* border: 1px solid blue; */
    width:250px;
    justify-content: center;
}
#cart div{
    margin: 20px 0px 0px 0px;
    margin-left: 15px;
}
svg{
    width: 25px;
    height: 25px;
    cursor: pointer;
}
#cart img{
    width: 30px;
    height: 30px;   
}
#cate{
    width: 800px;
    height: 75px;
    display: flex;
    /* border: 1px solid red; */
    justify-content: space-between;
}
#cate select{
    border: none;
}
#footer{
    width: 100%;
    height: auto;
    background-color: black;
    font-family: Poppins,sans-serif;
    margin-top: 50px;
}
#footerImage{
    display: flex;
}
#footerImage img{
    width: 120px;
    height: 120px;
    margin: auto;
}
#social_icon{
    width: 280px;
    height: 30px;
    /* border: 1px solid red; */
    margin: auto;
    
}
a img{
    width: 25px;
    height: 25px;
    margin: 0px 5px 0px 10px;
}
#info{
    width: 80%;
    margin: auto;
    display: flex;
    color: aliceblue;
    margin-top: 50px;
    
}
#gmail{
    background: transparent;
    border: none;
    border-bottom: 1px solid #fff;
    width: 350px;
    height: 40px;
}
#signupbtn{
    padding: 7px 15px;
    margin-top: 20px;
    border: 1px solid #fc2779;
    background-color: #fc2779;
    font-family: Poppins,sans-serif;
    color: #fff;
    cursor: pointer;
    border-radius: 2px;
    height: 40px;

}
#left-div{
    width: 50%;
}
#right-div{
    width: 50%;
    /* border: 1px solid red; */
}
h5~div{
    color: #999999;
    width: 200px;
    font-family: Poppins,sans-serif;  
    font-size: 16px;
}
#info1{
    display: flex;
    width: 100%;
}
#img1 img{
    width: 100px;
    height: 30px;
    margin-left: 20px;
}
.information{
    width: 80%;
    height: 25px;
    /* border: #fc2779 1px solid; */
    margin: auto;
    margin-top: 15px;
}
.information h5{
    font-size: 17px;
    font-family: Poppins,sans-serif; 
    color: white;
    font-weight: 500;
    line-height: 1.2;
}
#info-content{
    width: 900px;
    height: auto;
    /* border: 1px solid red; */
    margin-left: 10%;
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
}
.page{
    color: inherit;
    text-decoration: none;
    color: #999999;
    cursor: pointer;
    font-size: 16px;
    font-family: Poppins,sans-serif;
}
#contact{
    width: 80%;
    height: auto;
    /* border: 1px solid red; */
    margin-left: 10%;
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
}
.one{
    color: white;
    font-size: 16px;
    font-family: Poppins,sans-serif;
    margin-top: 5px;
}
.two{
    color: #999999;
    font-size: 16px;
    font-family: Poppins,sans-serif;
    margin-top: 5px;
    text-decoration: underline;
}
.three{
    color: #999999;
    font-size: 12px;
    font-family: Poppins,sans-serif;
    margin-top: 5px;
}
#last{
    width: 90%;
    height: 100px;
    text-align: center;
    color: white;
    border-top: solid 2px teal;
    margin-left: 5%;
    margin-top: 50px;
}
#mid{
    width: 100%;
    height: 370px;
    /* border: 1px solid red; */
}
.pics{
    width: 100%;
    height: 370px;   

}
.img{
    width: 100%;
    height: 370px;   

}
.heading{
    text-align: center;
}
.heading>h2{
    color: #1f1f1f;
    font-weight: 300;
    font-size: 2rem;
    line-height: 1.2;
}
#referal{
    width: 100%;
    height: 350px;
    /* border: 1px solid red; */
    display: flex;
}
#referal>img{
    width: 95%;
    height: 350px;
    margin: auto;
}
#videoBox{
    width: 100%;
    height: 500px;
    /* border: 1px solid red; */
    display: flex;
}
#videoBox iframe{
    height: 100%;
    width: 80%;
    margin: auto;
}
#products{
    width: 100%;
    height: 500px;
    /* border: 1px solid red; */
    display: flex;
}
#left_arrow,#right_arrow{
    width: 10%;
    height: 100%;
    /* border: #1f1f1f 1px solid; */
    display: flex;
}
#left_arrow img,#right_arrow img{
    width: 50px;
    height: 50px;
    margin: auto;
    cursor: pointer;
}
#best{
    width: 80%;
    height: 100%;
    /* border: #1f1f1f 1px solid; */
    display: flex;
    
    justify-content: space-between;
}
.mainbox{
    width: 275px;
    height: 375px; 
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
    text-align: center;
    margin-top: 50px;
}
.pic{
    width: 185px;
    height: 250px;
}
.cartbtn{
    width: 100%;
    padding-bottom: 10px;
    padding-top: 10px;
    border: none;
    background-color: black;
    color: white;
}





