#container{
    width: 95%;
    height: auto;
    margin: auto;
    /* border: 1px solid red; */
    box-shadow: rgba(121, 38, 38, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
    border-radius: 2%;
    display: flex;
    margin-top: 1%;
    padding-bottom: 2%;
}
#leftbox{
    width: 55%;
    height: auto;
    box-shadow: rgba(121, 38, 38, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
    /* border: 1px solid red; */
}
#rightbox{
    width: 45%;
    height:auto;
    box-shadow: rgba(121, 38, 38, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
    /* border: 1px solid blue; */
    margin-top: 2%;
    margin-left: 2%;
    background-color: #f5f5f5;
    border-radius: 2%;
}
.firstbox{
    width: 100%;
    height: auto;
    /* border: 1px solid red; */
    padding: 2%;
    display: flex;
}
#fourthbox{
    width: 90%;
    height: auto;
    /* border: 1px solid red; */
    margin-left: 5%;
    box-shadow: rgba(121, 38, 38, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
    background-color: white;
}
.order{
    margin-top: 10px;
    color: #575555;
    font-size: 16px;
    font-weight: 600;
    padding: 1%;
    padding-left: 2%;
}
.order>img{
    vertical-align: middle;
    margin-right: 10px;
    
}
.fifthbox{
    width: 100%;
    height: auto;
    /* border: 1px solid red; */
    /* padding: 2%; */
    display: flex;
}
.six,.discount,#six{
    width: 50%;
    /* border: 1px solid red; */
    height: auto;
    margin-left: 5%;
    margin-top: 2.5%;
    
    /* padding: 2%; */
}

.maindiv{
    width: 95%;
    height: auto;
    margin: auto;
    /* border: 1px solid blueviolet; */
    display: flex;
    margin-top: 20px;
}
.pic{
    width: 85px;
    height: 115px;
}
.name{
    font-family: 'Quicksand', sans-serif; 
    font-family: 'Roboto', sans-serif ;
    font-weight: 900;
    padding: 5px;
    width: 30%;
}
.removeicon{
    width: 20%;
    height: 20%;
    background-color: black;
    color: aliceblue;
    border-radius: 5px;
    cursor: pointer;
    margin-top:50px;
}
.addbtn,.deducebtn
{
    width: 4%;
    height: 4%;
    background-color: black;
    color: aliceblue;
    border-radius: 50%;
    cursor: pointer;
    margin-top:50px;
    margin-left: 25px;
}
.deducebtn{
    margin-left: 10px;
}
.qaantity{
    margin-top:50px;
    margin-left: 15px;
}
.amount{
    font-size: 16px;
    margin-top:50px;
    margin-left: 20px;
}
#customer{
    width: 95%;
    height: auto;
    /* border: 1px solid rgb(219, 136, 179); */
    margin: auto;
    display: flex;
}
.heading,.inp{
    width: 100%;
    height: auto;
    /* border: 1px solid blue; */
    text-align: left;
    padding-bottom: 2%;
}
.inputtag{
    width: 90%;
    border: none;
    border-bottom: #575555 1px solid;
    padding-bottom: 2%;

}
#name,#phone{
    width: 50%;
    height: 100%;
}
#address{
    width: 95%;
    height: auto;
    /* border: 1px solid palevioletred; */
    padding: 2%;
    
}
.inputtag2{
    width: 50%;
    border: none;
    border-bottom: #575555 1px solid;
    padding-bottom: 2%;
}
#button{
    width: 80%;
    height: auto;
    margin: auto;
    /* border: 1px solid red; */
    display: flex;
}
#save{
    margin: auto;
    background: #fc2779;
    color: #fff;
    cursor: pointer;
    border-radius: 0.25rem;
    border: none;
    padding: 2%;
}





